/* Centrage global de l'élément parent */

.center-card {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  height: 100vh;           /* Prendre toute la hauteur de la fenêtre */
  width: 100%;             /* Prendre toute la largeur de la fenêtre */
  background-image: url('/images/factLogo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

/* Appliquer une largeur fixe à p-card et s'assurer qu'il est centré */
.center-card p-card {
  width: 500px;  /* Largeur fixe pour p-card */
  height: 350px;
  margin-left: auto;       /* Centrer horizontalement */
  margin-right: auto;      /* Centrer horizontalement */
  display: block;        /* S'assurer que p-card est un élément de type block */   
}

p-card .p-card-header {
  text-align: center; /* Centre le texte dans le header */
  font-weight: bold;  
  font-size: 1.25rem;
}










