
  <form>
    <div class="center-card">
      <p-card>  
        <ng-template pTemplate="header">
          <h2 class="header-center">Authentification</h2>
        </ng-template>       
          <div class="grid grid-cols-1 gap-4">
            <label for="username">Nom d'utilisateur</label>                       
            <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" 
            class="border-2 border-gray-400 p-2 rounded-md focus:border-blue-500 focus:outline-none"/> 
  
            <label for="password">Mot de passe</label>
            <input pInputText id="password" aria-describedby="password-help" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" 
            class="border-2 border-gray-400 p-2 rounded-md focus:border-blue-500 focus:outline-none"/> 

          </div>

          <div style="display: flex; justify-content: center; margin-top: 1rem;">
            <p-button 
              label="Enregistrer" 
              icon="pi pi-check"
              styleClass="my-custom-button">
            </p-button>
          </div>
                    
      </p-card>
    </div>

  
  </form>


